.paginate_button {
    border: 1px solid rgba(0, 0, 0, 0.452) !important;
    border-radius: 5px !important;
}

.paginate_button:hover {
    background: rgba(57, 139, 18, 0.644) !important;
}

.sorting{
    color: rgba(0, 0, 0, 0.692) !important;
}

.current {
    background: rgba(57, 139, 18, 0.644) !important;
}

body{
    background-color: rgba(128, 128, 128, 0.432);
}

td {
    padding: 20px !important;
}
